/****** HEADER ******/
.section-title {
  @include text-align(center);
  color: $color_black_light;
  font-size: 2rem;
  &:after {
    @include size(4rem, 1px);
    content: "";
    display: block;
    background: $color_primary;
    margin: .3em auto;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: $color_white;
  z-index: 100;
  height: $nav-height;
}

.logo {
  position: absolute;
}

.logo-img {
  @include size(5rem, 5rem);
  padding: 1rem;
  border-radius: 50%;
}

.menu-mobile {
  display: none;
}

.menu-wrapper {
  position: relative;
  @include flex();
  @include justify-content(flex-end);
  @include align-items(center);
  list-style: none;
  padding: 0;
  margin: 0 auto;
  height: $nav-height;
}

.menu-item {
  padding: 0 1.6rem;
  cursor: pointer;
}

/****** ANIMATION FOR MENU ******/
.item-animation {
  position: relative;
  cursor: pointer;
  &:hover {
    color: $color_primary;
  }
  &:before, &:after {
    @include size(0, 1px);
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -0.5px;
    background: $color_primary;
  }
  &:before {
    left: -1px;
  }
  &:after {
    right: 2.5px;
    background: $color_primary;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

}

.item-animation:hover:before {
  background: $color_primary;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.item-animation:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/****** SECTION HERO ******/
.hero-content {
  padding-top: $nav-height;
}

.hero {
  @include flex();
  @include justify-content(center);
  @include align-items(center);
  @include size(100%, 100vh);
  background-image: url("/images/hero-min.png");
  background-size: cover;
  background-position: center center;
  margin-bottom: $margin-section;
  span {
    color: $color_primary;
    font-size: 3.2rem;
  }
}

.mobile-text {
  display: none;
}

/****** ANIMATION FOR CAPTION ******/
.autotype-text {
  font-size: 2.8rem;
  border-right: .1em solid $color_black;
  width: 21em;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  animation: typing 2s steps(21, end),
  blink-caret .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/****** SECTION ABOUT ******/
.about {
  margin-bottom: $margin-section;
}

.about-content {
  @include flex();
  @include justify-content(center);
  @include align-items(center);
}

.about-text {
  font-size: 1.5rem;
  color: $color_gray;
  line-height: 2;
  @include text-align(center);
}

/****** SECTION PROJECTS ******/
.projects {
  margin-bottom: $margin-section;
}

.projects-wrapper {
  @include flex();
}

.project-container {
  @include flex-width(25%);
  max-height: 17rem;
  margin: 3rem;
}

.content {
  @include size(100%, 97%);
  position: relative;
  overflow: hidden;
}

.content .content-overlay {
  @include size(100%, 100%);
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
}

.content:hover .content-overlay {
  opacity: 1;
  cursor: pointer;
}

.project-image {
  width: 100%;
}

.content-details {
  position: absolute;
  @include text-align(center);
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  .content-title {
    color: $color_white;
    font-weight: 900;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  .content-text {
    color: $color_white;
    font-size: 1em;
  }
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
  cursor: pointer;
}

.content-link {
  display: block;
  color: $color_white;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.fadeIn-bottom {
  top: 80%;
}

.projects-link {
  @include flex();
  @include justify-content(center);
  a {
    border: 3px solid transparent;
    padding: .7rem 1rem;
    display: block;
    background: $color_primary;
    text-decoration: none;
    color: $color_white;
    font-weight: 500;
    @include text-align(center);
    margin-top: 2rem;
    transition: all 0.3s ease 0s;
    &:hover {
      background: $color_white;
      border: 3px solid $color_primary;
      color: $color_primary;
      cursor: pointer;
    }
  }
}

/****** SECTION CONTACT ******/
.contact {
  height: 12rem;
}

.contact-info {
  font-size: 1.3rem;
  color: $color_gray;
  @include text-align(center);
}
.contact-email {
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  @include text-align(center);
}

.icon-container {
  display: block;
  @include text-align(center);
  padding-bottom: 1rem;
}

.icon {
  margin-right: 2rem;
  @include text-align(center);
  color: $color_black;
  transition: all 0.3s ease-in-out 0s;
  &:hover {
    color: $color_gray;
  }
}

/****** FOOTER ******/
.footer {
  @include flex();
  @include justify-content(center);
  @include align-items(center);
  background-color: $color_main;
  color: $color_primary;
  font-size: 1.2rem;
  font-weight: 700;
  height: 5rem;
}
