.section-title {
  text-align: center;
  color: $color_black-light;
  &:after {
    content: "";
    width: 4rem;
    height: 1px;
    display: block;
    background: $color_primary;
    margin: .3em auto;
  }
}

nav {
  top: 0;
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    height: 6rem;

    li {
      padding: 0 25px;
      cursor: pointer;
    }
  }
}


/****** STYLES FOR HERO ******/

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("/images/office.jpeg");
  background-size: cover;
  background-position: center center;
  span {
    color: $color_primary;
    font-size: 3rem;
  }
}




/****** ANIMATION FOR MENU ******/
.animation {
  position: relative;
  display: block;
  cursor: pointer;
  &:hover {
    color: $color_primary;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: $color_primary;
  }
  &:before {
    left: -2.5px;
  }
  &:after {
    right: 2.5px;
    background: $color_primary;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
}

.animation:hover:before {
  background: $color_primary;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.animation:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.logo-right {
  margin-right: auto;
}

.logo-size {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
}

//.about {
//  height: 35rem;
//  span {
//    color: $color_primary;
//    font-size: 3rem;
//  }
//  p {
//    font-size: 1.5rem;
//  }
//}

/****** ANIMATION FOR CAPTION ******/

h2 {
  font-size: 2rem;
  border-right: .1em solid $color_black;
  width: 25.8em;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  animation: typing 2s steps(21, end),
  blink-caret .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/****** STYLES FOR PROJECTS ******/
.img-container {
  flex: 40%;
  height: 30rem;
  margin: 3rem 1rem;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: grayscale(100%) opacity(.8) brightness(130%);
  &:hover {
    filter: grayscale(0) brightness(110%);
  }
}

.content .content-overlay {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
}

.content:hover .content-overlay {
  opacity: 1;
  cursor: pointer;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  h3 {
    color: $color_black;
    font-weight: 900;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  p {
    color: $color_black;
    font-size: 1em;
  }
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
  cursor: pointer;
}

.content-link {
  display: block;
  color: black;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.fadeIn-bottom {
  top: 80%;
}

/****** STYLE FOR BUTTON ******/
.button {
  background: $color_primary;
  color: $color_white;
  font-size: 1rem;
  line-height: 3;
  padding: .1rem 1rem;
  margin: 2rem 0;
  text-align: center;
  border: 0;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background: $color_white;
  border: 3px solid $color_primary;
  color: $color_primary;
  cursor: pointer;
}