/****** COMMON ******/
.section__heading {
  @include font-style($size: 2.75rem, $color: $color_font_secondary_brighter, $weight: 700);
  &:after {
    @include size(50px, 5px);
    content: "";
    display: block;
    border-radius: 3px 3px 3px 2px;
    background: linear-gradient(45deg, #fe5582 0%, #fe868a 100%);
  }
  &--hero,
  &--about {
    @include text-align(left);
    &:after {
      margin-top: 1.75rem;
    }
  }

  &--about {
    @media (min-width: 320px) and (max-width: 767px) {
      @include text-align(center);
      &:after {
        margin: 1.75rem auto 0;
      }
    }
  }

  &--projects,
  &--contact {
    @include text-align(center);
    &:after {
      margin: 1.75rem auto 0;
    }
  }
}

.heading__additional {
  margin-top: 6.25rem;
  margin-bottom: -1.8rem;
  &--about {
    @include text-align(left);
    margin-top: 3.8rem;
    @media (min-width: 320px) and (max-width: 767px) {
      @include text-align(center);
    }
  }
  &--projects,
  &--contact {
    @include text-align(center);
  }
}

/****** SECTION HEADER ******/
header {
  .nav {
    @include size(100%, $nav_height);
  }

  .logo {
    @include position(absolute);
    @include flex();
    @include align-items(center);
    height: $nav_height;
    margin-left: 3.5rem;
    &__text {
      @include size(100%, 0);
      &--name {
        @include font-style($size: 1.7rem);
        background: linear-gradient(45deg, #fe5582 0%, #fe868a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &--position {
        display: block;
        @include font-style($size: 0.875rem, $color: $color_font_secondary_brightest);
      }
    }
    .logo__caption {
      margin-left: 0.7rem;
    }
    @media (max-width: 992px) {
      margin-left: 0;
    }
  }

  .menu-mobile {
    display: none;
    @media(max-width: 992px) {
      @include flex();
      @include justify-content(flex-end);
      @include font-style($size: 2rem, $color: $color_primary);
      padding: 1rem;
      cursor: pointer;
    }
  }

  .menu {
    &__content {
      @include position(relative);
      @include flex();
      @include justify-content(flex-end);
      @include align-items(center);
      list-style: none;
      padding: 0 4rem 0 0;
      margin: 0 auto;
      height: $nav_height;
      @media(max-width: 992px) {
        display: none;
        background-color: $color_white;
        z-index: 3;
        padding: 0;
        position: absolute;
        top: $nav_height;
      }
    }
    &__list {
      @media(max-width: 992px) {
        width: 100%;
        background: $color_white;
        padding: 0.7rem 0;
        @include text-align(center);
        cursor: pointer;
      }
    }
    &__item {
      text-decoration: none;
      letter-spacing: 0.7px;
      padding: 0 1.6rem;
      &--link {
        @include font-style($size: 1.2rem, $color: $color_font_secondary);
        &:hover {
          color: $color_primary;
        }
      }
      &--label {
        @include font-style($size: 0.875rem, $color: $color_white, $weight: 700, $line-height: 24.02px);
        padding: 0.75rem;
        box-shadow: 0 5px 18px 2px rgba(255, 74, 122, 0.4);
        border-radius: 20px;
        background-image: linear-gradient(45deg, #fe5582 0%, #f26a76 100%);
        &:hover {
          background-image: linear-gradient(45deg, #ff6b92 0%, #ff848f 100%);
        }
      }
    }
  }
  .icon-label {
    @include position(relative, $left: 7px);
    @include size(34px, 34px);
    @include font-style($size: 1rem, $color: $color_primary, $line-height: 34px);
    border-radius: 50%;
    @include text-align(center);
    background: $color_white;
  }
  .link-linkedin {
    min-width: 237px;
    @media(max-width: 992px) {
      padding-bottom: 2rem;
    }
  }
}

/****** SECTION HERO ******/
.hero {
  @include flex();
  @include justify-content(flex-start);
  @include align-items(center);
  background-image: url("/images/banner-bg-with-text.png");
  background-repeat: no-repeat;
  background-position: center -200px;
  background-size: cover;
  min-height: 100vh;
  &__welcome {
    @include font-style($size: 3.125rem, $color: $color_font_secondary_brighter, $weight: 700);
    padding-left: 10rem;

    @media (max-width: 1400px) {
      padding-left: 4.4rem;
    }
    @media (min-width: 320px) and (max-width: 576px) {
      padding-left: 3.5rem;
    }
    @media (max-width: 840px) {
      padding-top: 6rem;
    }
    @media (max-width: 440px) {
      padding-top: 10rem;
    }
  }
  &__description {
    padding-left: 10rem;
    font-family: Chivo, sans-serif;
    @include font-style($size: 1.3125rem, $line-height: 36px);

    @media (max-width: 1400px) {
      padding-left: 4.4rem;
    }
    @media (min-width: 320px) and (max-width: 576px) {
      padding-left: 3.5rem;
    }
  }

  @media (max-width: 1280px) {
    background-image: url("/images/baner_1280_without_development.png");
    background-position: center center;
  }
  @media(max-width: 845px) {
    background-position: 67% center;
  }
  @media (max-width: 576px) {
    background-image: url("/images/baner_576_without_launched.png");
  }
  @media (max-width: 480px) {
    background-position: 30% center;
  }
}

/****** SECTION ABOUT ******/
.about {
  .about__content {
    @include flex();

  }
  .about__text {
    @include flex-width(50%);
    @media (min-width: 320px) and (max-width: 576px) {
      @include text-align(center);
    }
  }
  .about__image {
    @include flex-width(50%);
    padding-left: 5rem;
    @media (max-width: 797px) {
      padding-left: 0;
      @include text-align(center);
      @include flex-width(100%);
    }
    img {
      @media (min-width: 320px) and (max-width: 400px) {
        width: 100%;
      }
    }
  }
  .about__description {
    font-family: Chivo, sans-serif;
    &--large {
      @include font-style($size: 1.3rem, $line-height: 2.25rem);
    }
    &--small {
      @include font-style($size: 1rem, $line-height: 1.75rem);
    }
  }
  .about__links {
    @include flex();
    @include justify-content(center);
    @include flex-width(100%);
    margin-top: 4.5rem;
    .about__link {
      text-decoration: none;
      @include font-style($color: $color_primary);
      @include flex();
      @include justify-content(center);
      @include align-items(center);
      @include size(18.4375rem, 6.376rem);
      box-shadow: 0 5px 18px 2px #eeeefa;
      border-radius: 50px 50px 50px 5px;
      &--freelancer {
        margin-right: 1.25rem;
        @media (max-width: 797px) {
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }
      &--hire {
        margin-left: 1.25rem;
        .link__img {
          margin-left: 1.2rem;
        }
        @media (max-width: 797px) {
          margin-left: 0;
        }
      }
      @media(min-width: 320px) and (max-width: 400px) {
        @include size(15rem, 5rem);
      }
      &:hover {
        box-shadow: 0 5px 18px 2px rgba(255, 74, 122, 0.4);
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    margin: $side_mobile_margin;
  }
  @media(max-width: 1300px) {
    margin: $side_desktop_margin;
  }
}

/****** SECTION PROJECTS ******/
.projects {
  .project {
    @include flex();
    &__picture {
      @include flex-width(40%);
      @include flex();
      @media (max-width: 797px) {
        @include flex-width(100%);
        @include justify-content(center);
        order: 2;
      }
      @media (max-width: 470px) {
        @include flex-width(100%);
      }
      img {
        @media (max-width: 470px) {
          @include size(100%, 100%);
        }
      }
    }
    &__description {
      font-family: Chivo, sans-serif;
      @include font-style($size: 1.125rem, $line-height: 2.25rem);
    }
    &__features {
      @include flex-width(40%);
      @media(max-width: 797px) {
        @include flex-width(100%);
        @include text-align(center);
        margin-bottom: 1.5rem;
      }
    }
    &__number {
      @include flex();
      flex-wrap: nowrap;
      @include align-items(center);
      @include flex-width(20%);
      @include font-style($size: 22rem, $color: $color_texts_background);
      height: 256px;
      opacity: 0.95;
      @media(max-width: 1200px) {
        display: none;
      }
    }
    &__title {
      text-shadow: 0 1px 0 rgba(0, 43, 132, 0.4);
      @include font-style($size: 1.6rem, $color: $color_font_secondary_brighter);
    }
    &__link {
      @include font-style($size: 1rem, $color: $color_primary);
      text-decoration: none;
      line-height: 1.4rem;
      padding: 0 .5rem;
      &:hover {
        @include font-style($size: larger, $color: $color_primary);
        padding: 0;
        transition: all 0.1s ease;
      }
    }
  }
  @media(max-width: 1240px) {
    margin: 0 1rem;
  }
  .project-line {
    margin: 0 .3rem;
    @include font-style($color: $color_primary);
  }
}

/****** SECTION CONTACT ******/
.contact {
  background-image: url("/images/cloud_large.png");
  padding-top: 2.3rem;
  background-repeat: no-repeat;
  &__content {
    @include flex();
    @include align-items(center);
    height: 6.25rem;
    @media(max-width: 1300px) {
      margin: $side_desktop_margin;
    }
    @media (min-width: 451px) and (max-width: 576px) {
      @include justify-content(center);
    }
    @media (max-width: 470px) {
      margin: 0;
    }
    @media (min-width: 320px) and (max-width: 450px) {
      @include justify-content(space-evenly);
    }
  }

  &__image {
    @include position(relative, $bottom: 1.5rem);
    @media (min-width: 320px) and (max-width: 576px) {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
  }
  &__icon {
    @include font-style ($color: $color_white, $line-height: 34px);
    @include size(34px, 34px);
    border-radius: 50%;
    @include text-align(center);

    &--mail {
      background-image: linear-gradient(39deg, #fe5582 0%, #fe868a 100%);
      transform: rotate(-10deg);

    }
    &--github {
      background-image: linear-gradient(39deg, #b34cc3 0%, #4f27d0 100%);
    }
    &--linkedin {
      background-image: linear-gradient(39deg, #1c4adf 0%, #06c7f3 100%);
    }
  }
}

.link-caption {
  margin-right: 1rem;
  &--mail {
    margin-left: 4rem;
    background: linear-gradient(28deg, #fe5582 0%, #fe868a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 797px) {
      margin-left: 0.1rem;
    }
  }
  &--github {
    background: linear-gradient(28deg, #b34cc3 0%, #4f27d0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &--linkedin {
    background: linear-gradient(28deg, #1c4adf 0%, #06c7f3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (max-width: 797px) {
    margin-right: 0.2rem;
  }
  @media (min-width: 320px) and (max-width: 450px) {
    display: none;
  }
}

.line {
  @include font-style ($size: 1.375rem, $color: $color_font_secondary);
  opacity: 0.2;
  margin: 0 2rem;

  @media (max-width: 797px) {
    margin: 0 0.2rem;
  }
  @media (min-width: 320px) and (max-width: 450px) {
    display: none;
  }
}

/****** SECTION FOOTER ******/
.footer {
  background-color: #f9f9f9;
  height: 2.5rem;
  @media(max-width: 1300px) {
    margin: 0 0.5rem;
  }
  .footer__content {
    @include flex();
    @include justify-content(space-between);
    @media(max-width: 320px) {
      @include justify-content(center);
    }
  }
  &__text {
    @include font-style ($size: 0.75rem);
  }
}
