@media (max-width: 576px) {
  .project-container {
    @include flex-width(100%);
    max-height: 21rem;
  }
  .about {
    margin: $side-mobile-margin;
  }
  .autotype-text {
    display: none;
  }
  .mobile-text {
    display: block;
    margin: $side-mobile-margin;
    @include text-align(center);
  }

  .menu-wrapper {
    @include flex-direction(column);
    @include justify-content(center);
    height: 10rem;
    display: none;
    background: $color_white;
  }
  .menu-item {
    padding: .8rem;
    cursor: pointer;
    display: block;
    width: 100%;
    @include text-align(center);
    &:hover {
      color: $color_primary;
    }
  }
  .menu-mobile {
    @include flex();
    @include justify-content(flex-end);
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
  }
  .contact-info {
    margin: $side-mobile-margin;
  }
}

@media (max-width: 768px) {
  .hero {
    background-image: url("/images/hero_576-min.png");
  }
}

@media (max-width: 992px) {
  .hero {
    background-image: url("/images/hero_992 -min.png");
  }
  .autotype-text {
    display: none;
  }
  .mobile-text {
    display: block;
    margin: $side-mobile-margin;
    @include text-align(center);
  }
}

@media (max-width: 1140px) {
  .about {
    margin: $side-mobile-margin;
  }
}

