/****** MEDIA QUERIES ******/

@media (max-width: 576px) {
  .img-container {
    flex: 100%;
    max-height: 21rem;
  }
  .about {
    margin: 0 3rem;
  }
  .autotype-text {
    display: none;
  }
  .mobile-text {
    display: block;
    margin: 0 3rem;
  }

  nav {
    ul {
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      height: 6rem;

      li {
        padding: 0;
        cursor: pointer;

      }
    }
  }


}

@media (max-width: 768px) {
  .hero {
    background-image: url("/images/hero_576-min.png");
  }
}

@media (max-width: 992px) {
  .hero {
    background-image: url("/images/hero_992 -min.png");
  }
}

@media (max-width: 1140px) {
  .about {
    margin: 0 3rem;
  }
}



