$color_primary: #FF003B;
$color_black: #232323;
$color_white: #f9f9f9;

$color_black_light: lighten($color_black, 20%);

$root_font_size: 16px;
$base_line_height: 1.5;
$base_font_family: "Lato", sans-serif;

