$color_primary: #FF003B;
$color_main: #EEEEEF;
$color_black: #080808;
$color_white: white;
$color_gray: gray;

$color_black_light: lighten($color_black, 20%);


$container_max_width: 1200px;
$root_font_size: 16px;
$base_line_height: 1.5;
$base_font_family: "Lato", sans-serif;
$margin-section: 7rem;


@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-width($width) {
  flex: $width;
}

@mixin justify-content($justify) {
  justify-content: $justify;
}

@mixin align-items($align) {
  align-items: $align;
}
@mixin flex-direction($direction) {
  flex-direction: $direction;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

