$color_primary: #fd5781;
$color_font: #8598a5;
$color_white: #fff;
$color_font_secondary: #261033;
$color_texts_background: #f8f8f8;
$color_font_secondary_brighter: #2d1236;
$color_font_secondary_brightest: #313b58;

$container_max_width: 1200px;
$root_font_size: 16px;
$base_line_height: 1.5;
$base_font_family: 'Amaranth', sans-serif;
$second_font_family: 'Chivo', sans-serif;
$margin_section: 0 1.5rem;
$side_mobile_margin: 0 1.5rem;
$side_desktop_margin: 0 3rem;
$nav_height: 6rem;
$font_weight: 400;
